*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*
venv
**/.swp
**/*.log
**/*.debug
**/.vscode

**/*debug*
**/.gitignore
**/finetune/*-lora-*
**/finetune/Disney-*
**/wandb
**/results
**/*.mp4
**/validation_set
CogVideo-1.0

*.mp4

sat/CogVideoX1.5-5B-SAT/

*finetune_output*

# finetune/ddpo_pytorch/

*.jpg

*.ipynb

finetune/VideoScore/
VBench/
tokenizers/
finetune/ckpt_reward/